<div class="comment_vote_container">
  <% if current_user != nil && !current_user.voted?(comment) %>
    <%= link_to "Upvote", "/comments/#{comment.id}/upvote", class: 'small-link upvote vote_link' %> |
  <% elsif current_user != nil && current_user.voted?(comment) %>
    <%= link_to "Downvote", "/votes/#{current_user.get_vote(comment).id}", class: 'small-link downvote vote_link' %>
  <% else %>
    <p>You must be signed in to vote</p>
  <% end %>
  <p class="vote_count">Votes: <%= comment.votes.count %></p>
</div>