<div class="beat_vote_container">
  <% if current_user != nil && !current_user.voted?(beat) %>
    <%= link_to "Upvote", "/beats/#{beat.id}/upvote", class: 'small-link upvote vote_link' %>
  <% elsif current_user != nil && current_user.voted?(beat) %>
    <%= link_to "Downvote", "/votes/#{current_user.get_vote(beat).id}", class: 'small-link downvote vote_link' %>
  <% else %>
    <p>You must be signed in to vote</p>
  <% end %>
  | <p class="vote_count">Votes: <%= beat.votes.count %></p>
</div>