<div class="edit_container">
  <h2>Edit Your BadBeat</h2>
  <%= form_for @beat, html: {class: "new_beat_form beat_form"} do |f| %>
    <%= f.text_area :content, placeholder: "Maximum 300 Characters", class: "text_area", required: true %>
    <%= f.submit "Submit BadBeat", class: "submit_button" %>
  <% end %>
</div>