$light_back: #dadbdd;
$dark_back: #424242;
$beat_button: #009b50;

.beats_container {
  width: 70%;
  margin: 12vh auto;

  .beat_button {
    margin-bottom: 5vh;
    padding: 2vh 4%;
    font-weight: bold;
    background: $beat_button;
    border: 4px solid $dark_back;
    border-radius: 5px;
    color: white;
    outline: none;
  }

  .new_beat_form {
    width: 100%;
    margin-bottom: 5vh;

    .text_area {
      width: 99.4%;
      height: 20vh;
    }

    .submit_button {
      width: 100%;
    }
  }

  .beat {
    background: $dark_back;
    margin-bottom: 5vh;

    .beat_content {
      background: $light_back;
      min-height: 21vh;
      width: 100%;
    }

    .comments_button {
      position: relative;
      float: right;
      padding: 1vh 4%;
      top: 1vh;
      font-size: 2vh;
      background: #444444;
      color: white;
      border-radius: 5px;
      border: 2px solid white;
      box-shadow: 0 0 5px 2px black;
      outline: none;
      cursor: pointer;
      transition: background, color, box-shadow, .5s;
    }

    .comments_button:hover {
      box-shadow: 2px 2px 7px 2px black;
    }

    .comment {
      width: 90%;
      background: $light_back;
      margin: 3vh auto;
    }
  }
}