$light_back: white;
$dark_back: #424242;
$beat_button: #009b50;

.beats_container {
  width: 70%;
  margin: 9vh auto;

  .beat_button {
    margin-bottom: 2vh;
    padding: 2vh 4%;
    font-weight: bold;
    background: $beat_button;
    border: 4px solid $dark_back;
    border-radius: 5px;
    color: white;
    outline: none;
    transition: border-radius, .8s;
  }

  .beat_button:hover {
    border-radius: 30px;
  }

  .beat {
    background: $dark_back;
    margin-bottom: 2vh;

    .beat_content {
      background: $light_back;
      min-height: 21vh;
      width: 100%;
    }

    .comments_container {
      padding: .5vh 0 .5vh 0;
    }

    .comments_button {
      position: relative;
      float: right;
      padding: 1vh 4%;
      top: 1vh;
      font-size: 2vh;
      background: #444444;
      color: white;
      border-radius: 5px;
      border: 2px solid white;
      box-shadow: 0 0 5px 2px black;
      outline: none;
      cursor: pointer;
      transition: background, color, box-shadow, .5s, border-radius, .8s;
    }

    .comments_button:hover {
      box-shadow: 2px 2px 7px 2px black;
      border-radius: 30px;
    }

    .comment {
      width: 97%;
      background: $light_back;
      margin: 2vh auto;
      font-size: .8em;
      border-radius: 4px;
      transition: border-radius, .8s;
    }
  }

  .user_link {
    font-size: .9em;
    color: blue;
    text-decoration: none;
  }
}

.new_beat_form {
  width: 100%;
  margin-bottom: 2vh;

  .text_area {
    width: 99.4%;
    height: 20vh;
  }

  .submit_button {
    width: 100%;
    padding: 2vh 0;
  }
}

.comment_form {
  width: 96%;
  margin: 1vh auto;

  .text_field {
    width: 100%;
    padding: 1vh 0;
  }
}