$beat_back: #dadbdd;

.beats_container {
  width: 70%;
  margin: 10vh auto;

  .beat {
    background: $beat_back;
    border-radius: 30px;
    padding: 1% 4%;
    margin-bottom: 5vh;

    .comments_button {
      position: relative;
      float: right;
      width: 10vmax;
      height: 5vh;
      font-size: 2vh;
      top: 2vh;
      background: #444444;
      color: white;
      border-radius: 5px;
      border: 2px solid white;
      box-shadow: 0 0 5px 2px black;
      outline: none;
      cursor: pointer;
      transition: background, color, box-shadow, .5s;
    }

    .comments_button:hover {
      box-shadow: 2px 2px 7px 2px black;
    }
  }
}