$darker-back: #444444;
$light-back: #f1f1f1;

.app-header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: $darker-back;
  color: white;
  padding: 1vh;

  .header-title {
    margin: 3px 15%;
    float: left;
  }

  .title-link {
    color: white;
    text-decoration: none;
  }

  .nav-container {
    margin-right: 15%;

    .login, .signup {
      float: right;
      padding: .4em 1vmax;
      min-width: 10%;
      color: $darker-back;
      border-radius: 10px;
      background-color: $light-back;
      border: 2px solid white;
    }

    .login {
      margin-right: 1%;
    }
  }
}