body {
  font-family: "Geneva";
  font-size: 1.1em;
}

.small-pad {
  padding: 1vh 4vh;
}

.bord-box {
  box-sizing: border-box;
}

.big-radius {
  border-radius: 30px;
}

.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}

.small-link {
  color: blue;
  text-decoration: none;
}

.small-link:hover {
  text-decoration: underline;
}